*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip-path: inset(50%);
  white-space: nowrap;
}

.page {
  display: flex;
  align-items: center;
  justify-content: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  background-color: #1b1919;
}

.content {
  width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.result {
  width: 711px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  width: 711px;
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset:first-of-type {
  width: 225px;
}

.search-form__fieldset:first-of-type .search-form__label {
  width: 225px;
}

.search-form__fieldset:last-of-type {
  width: 212px;
}

.search-form__fieldset-title {
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;

  font-size: 18px;
  font-weight: 400;
}

.search-form__label {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 5px;
  cursor: pointer;

  font-size: 18px;
  font-weight: 400;
}

.search-form__textfield {
  border-top: 1px solid white;  
  border-bottom: 1px solid white;
  border-right: none;
  border-left: none;
  color: white;
  background-color: #1b1919;
  appearance: none;
  cursor: pointer;
  font-size: 16.5px;
  font-weight: 400;
  width: 100%;
  height: 22px;
  padding: 0 14px 0 0;
  box-sizing: content-box;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__textfield:focus-visible {
  outline: 1px solid white;
  outline-offset: 0;
}

.search-form__fieldset:first-of-type .search-form__label:has(.search-form__textfield:focus-visible) {
  outline: none;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid white;
  padding: 1px;
  position: relative;
}

.search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__label:has(.search-form__checkbox:focus-visible) {
  outline: 1px solid white;
  outline-offset: 1px;
}

.search-form__fieldset:first-of-type .search-form__label:hover .search-form__label-text {
  text-decoration: none;
}

.button {
  height: 34px;
  border: 1px solid #FFF;
  color: #FFF;
  background-color: transparent;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
  transition: text-decoration 0.3s ease;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 1px;
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
  margin-top: 20px;
}

.more-button {
  width: 390px;
  line-height: 2;
}

.content__details {
  width: 399px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  position: relative;
  top: 5px;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  position: relative;
  width: 399px;
  height: 298px;
  margin-top: 26px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  color: white;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

.content__card-link_current {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid white;
  outline-offset: 1px;
}
.content__list-item {
  padding: 0 3px;
}

.content__video-card {
  width: 100%;
  display: flex;
}

.content__video-card-description-container {
  flex-grow: 1;
  width: auto;
  min-width: 0;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  max-width: 100%;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  bottom: 5px;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
  max-width: 100%;
  line-height: 16.2px;
  margin-top: 2px;
  letter-spacing: 0;
  position: relative;
  bottom: 6px;
}

.content__video-card-thumbnail {
  min-width: 194px;
  max-height: 103px;
  object-fit: cover;
  object-position: center;
}
